.photo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.slide-container {
  width: 100%;
  max-width: 100% !important;
  height: 400px;
  overflow: hidden;
  padding: 0;
}

h4 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.react-multi-carousel-list{
  /* position: unset !important; */
  width: 100%;
  /* padding: 30px 0 ; */
  /* margin: 0 auto; */
}


.item {
  display: block;
  text-align: center;
  padding: 40px;
}


.react-multiple-carousel__arrow--left {
  left: calc(2% + 1px);
  background-color: pink;
}

.react-multiple-carousel__arrow--right {
  right: calc(2% + 1px);
  background-color: pink;
}

.react-multiple-carousel__arrow:hover {
  background: rgba(174, 107, 107, 0.8);
}

.react-multiple-carousel__arrow::after {
  color: pink;
}



/* https://github.com/YIZHUANG/react-multi-carousel/blob/061e721b3ed9e3bd83b131c92fc54bb0c9a0a534/src/assets/styles.css#L4 */