.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .header.fixed {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;  /* Ensure it stays on top of other elements */
  }
  
  .home {
    font-family: 'Megrim';
    font-size: 35px;
    color: black;
    margin: 0;
  }
  
  .menu {
    width: 60px;
    opacity: 60%;
    margin-left: auto;
    margin-right: 50px;
  }
  