
.tabs-container-v {
    width: 80%;
}
 
.tabs-v {
    display: flex;
}
 
.tab {
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
    /* border: 1px solid #ddd; */
    border-bottom: none;
    background-color: #9f607b;
    border-radius: 20px;
    text-align: center;
}
.tab.vertical {
    background-color: #925871;
}
.tab.active.vertical {
    background-color: #D282A4;
}
 
.tab-content {
    /* border: 1px solid #ddd; */
    padding: 10px;
}